.item {
    display :flex;
    margin: 10px;
    padding: 10px;
}
.item.win{
    background-color: #1eacff66;
}

.item.defeat{
    background-color: #cd5c5c75;
}

.itemColumn {
    flex: 1 1 auto;
    width: 108px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemColumn.collapsed{
    display: none;
}
.itemColumn>ul{
    list-style-type: none;
}
.itemColumn>ul>li.bold{
    font-weight: bold;
}

.itemColumn>ul>li{
    font-size: 13px;
}
.toggle {
    margin: -10px;
    width: 24px;
    flex: 0 1 auto;
    display: flex;
    align-items: flex-end;
}
.toggle.win{
    background-color: #1eacff66;
    border: 1px solid #0095ffc9;
}
.toggle.defeat{
    background-color: #cd5c5c75;
    border: 1px solid #8b00003b;
}
.toggle.collapsed{
    flex: 1 1 auto;
    flex-direction: row-reverse;
}

.icon {
    margin:0 3.5px 0 3.5px;
}
.icon.win > svg{
    fill: #005eff;
}
.icon.defeat > svg{
    fill: #8b0000d4;
}

.row {
    display: flex;
    margin: 10px;
    flex: 1 1 auto;
    font-size: 13px;
}
